extends _layout.pug

block content
    main.page__content.timeline
        section.timeline__axis
            each time in timeline.axis
                .axis__position(data-axis-position=time)
                    time.axis__time= time

        section.timeline__events
            each time in timeline.axis
                .axis__position(data-axis-position=time)
                    each event in timeline.events.filter((e) => e.position === time)
                        artice.event(data-event-position=event.position)
                            header.event__header
                                address.event__location= event.location
                                time.event__date= event.displayDate
                                h1.event__title= event.title
                            main.event__details
                                span.event__actor= event.actor
                                span.event__action= event.action
                                span.event__target= event.target
                            if event.subevents
                                footer.event__subevents
                                    each subevent in event.subevents
                                        h2.subevent__title= subevent.title
                                        .subevent__details
                                            span.subevent__actor= subevent.actor
                                            span.subevent__action= subevent.action
                                            span.subevent__target= subevent.target


        section.timeline__cipher.row
            .cipher__section.cipher__section--text.col.col--6
                pre#cipher-input.cipher__content.cipher__content--input= timeline.cipher.join("\n")
                pre#cipher-output.cipher__content.cipher__content--output
                pre#cipher-output-rot.cipher__content.cipher__content--output.cipher__content--output--rot

            .cipher__section.cipher__section--stats.col.col--6
                .cipher__stats
                    #cipher-stats
                    #cipher-stats-rot

                .cipher__settings
                    .settings 
                        h4 Columns
                        input#cipher-settings-columns.settings__field.settings__field--input(value="0123456789ab")
                        button#cipher-settings-reset-button.settings__field.settings__field--button
                            i.ri-arrow-go-back-line
                            | Reset
                        button#cipher-settings-randomize-button.settings__field.settings__field--button
                            i.ri-shuffle-line
                            | Randomize
                        button#cipher-settings-apply-button.settings__field.settings__field--button
                            i.ri-save-line
                            | Apply
                    .settings 
                        h4 Rot
                        input#cipher-settings-rot.settings__field.settings__field--input(value="0",type="number",min="0",max="25")
                        button#cipher-settings-rot-reset-button.settings__field.settings__field--button
                            i.ri-arrow-go-back-line
                            | Reset
                        button#cipher-settings-rot-randomize-button.settings__field.settings__field--button
                            i.ri-shuffle-line
                            | Randomize
                        button#cipher-settings-rot-apply-button.settings__field.settings__field--button
                            i.ri-save-line
                            | Apply
        section.timeline__controls
            .buttons.buttons--scroll
                button.button.button--left
                    i.ri-arrow-left-line
                button.button.button--right
                    i.ri-arrow-right-line
            .buttons.buttons--control
                button.button.button--cipher
                    i.ri-code-s-slash-line
            .buttons.buttons--zoom
                button.button.button--zoom-in
                    i.ri-zoom-in-line
                button.button.button--zoom-out
                    i.ri-zoom-out-line
        
    +script('/js/timeline.js')